{% extends 'base.html.twig' %}

{% block title %}Answer{% endblock %}

{% block body %}
    <h1>Answer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Author</th>
                <td>{{ answer.user.username }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ answer.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_answer_index') }}">back to list</a>

    {% if app.user == answer.user %}
        <a href="{{ path('app_answer_edit', {'id': answer.id}) }}">edit</a>
    {% endif %}
{% endblock %}
