<table class="table">
    <tbody>
    <tr>
        <th>author</th>
        <td>{{ question.user.username }}</td>
    </tr>
    <tr>
        <th>Content</th>
        <td>{{ question.content }}</td>
    </tr>
    </tbody>
</table>

