{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <h1>Question</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Author</th>
                <td>{{ question.user.username }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ question.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_question_index') }}">back to list</a>

    {% if app.user == question.user %}
        <a href="{{ path('app_question_edit', {'id': question.id}) }}">edit</a>
    {% endif %}
{% endblock %}
