{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <br>
    <br>
    <div>Homepage</div>
    <div>
        <h3>List of questions</h3>
        {% for question in questions %}
            {% include 'question/_in_list.html.twig' %}
        {% else %}
            <div>No questions found</div>
        {% endfor %}
    </div>
{% endblock %}
